/* header */
.header{
   	background-color: #C7EDCC;
	height: 60px;
}
.header-logo{
	height: 60px;
	width:230px !important;
	border-color: #ffffff;
	border-right-width: 1px;
	border-right-style: solid;
}
.header .header-logo img{
    padding-top: 15px;
    padding-left: 15px;
}
/* menu */
.aries-menu-aside{
  	flex:0 0 230px;
}
.aries-menu{
    height: 100%;
}
.aries-menu-title{
	font-size: 2px;
}
.dashboard-logo{
  	text-decoration:none 
}
/* content */
.content-container {
	flex:1;
	overflow-y: scroll;
  	padding: 20px;
}
/* login */
.login-form{
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	-moz-border-radius: 5px;
  	background-clip: padding-box;
  	margin: 0 auto;
	width: 350px;
  	padding: 35px 35px 15px 35px;
  	background: #fff;
  	border: 1px solid #eaeaea;
  	box-shadow: 0 0 25px #cac6c6;
  	.title {
	    margin: 0px auto 40px auto;
	    text-align: center;
      	color: #505458;
    }
}

/* icon */ 
.icon-red{
	color:red;
}



.login-logo{
    margin: 0 auto;
    margin-top: 100px;
    width: 450px;
}

.search-toolbar {
	background: #f2f2f2;
	padding: 15px;
	height: 70px;
	margin: 10px 0px;
	.el-form-item {
		margin-bottom: 10px;
	}
}

.pagination-el{
	float:right;
	margin-top: 20px;
}