<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bianlz.data.delivery.dao.InterestDao">
    <resultMap id="interestMap" type="cn.com.bianlz.data.delivery.api.vo.Interest">
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>
    <select id="getInterestByCode" resultMap="interestMap" >
          select `code`,`name` from ad_nadp_interest where
            code = #{code,jdbcType=VARCHAR}
    </select>
</mapper>
